@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
<h4>Add a new recipe</h4>
@* <p>@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p> *@
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  <br>
  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)
  <br>
  @Html.LabelFor(model => model.Instructions)
  @Html.TextBoxFor(model => model.Instructions)
  <br>
  <input type="submit" value="Add new recipe"/>
}
<p>@Html.ActionLink("Show all recipes", "Index")</p>