@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)
  <br>
  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)
  <br>
  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)
  <br>
  @Html.LabelFor(model => model.Instructions)
  @Html.EditorFor(model => model.Instructions)
  <br>
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>