@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Recipes for @User.Identity.Name</h1>

@using (Html.BeginForm())
{
<p>
    Ingredient: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>
}

<ul>
  @foreach(Recipe recipe in Model)
  {
    <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId}) | @recipe.Rating/10</li>
  }
</ul>

<p>@Html.ActionLink("Sort by rating", "Index", new { sortOrder = "rating" })</p>
<p>@Html.ActionLink("Sort by time added", "Index")</p>
<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>